# Clocks
NET "CLK50" PERIOD = 20 ns | LOC = "K3";
#NET "CLK32" PERIOD = 31.25 ns | LOC = "J4";

# LEDs
NET "LED<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

NET "RESET"   LOC="L5" | IOSTANDARD=LVTTL | PULLUP;

NET "PORTB5"  LOC="F13" | IOSTANDARD=LVTTL;